@model IEnumerable<Wanc.Models.UsercashbackDTO>
@using Wanc.Models
@{
    ViewBag.Title = "cashbacklist";
    Layout = "~/shared/_AdminLayout1.cshtml";
    var Data = (List<UsercashbackDTO>)ViewBag.data;
}
}

<script>
    $(document).ready(function () {
        $('#sarvesh4').DataTable();
    });
</script>
<section class="wrapper">
    <div class="page-header" style="margin-top:20px;">
        <div class="page-title">
            <h3>Manage CashBack Details</h3>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Admin/Dashboard">Dashboard</a></li>
            <li class="active"><a href="#">View All CashBack Details</a></li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-weight:bold">View All CashBack Details</h3>
        </div>
        <div class="panel-body" style="overflow-x:scroll;">
            <div class="tab-content">
                <div class="tab-pane active fade in" id="inside_panel">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table" id="sarvesh4">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>CashBack Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @if (Model != null)
                                {
                                    <tbody>
                                        @{ int i = 0;}
                                        @foreach (var item in Data)
                                        {
                                           i = i + 1;
                                            <tr> 
                                                <td>@i</td>
                                                <td>@item.firstname  @item.lastname</td>
                                                <td>@item.CashbackAmount</td>
                                                <td><a href="~/Admin/Wallet?Id=@item.CashbackId" class="btn btn-default" style="background-color:aquamarine;">Send Cashback</a></td>
                                            </tr>
                                            }
                                    </tbody>
                                   }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
