@{
    ViewBag.Title = "CancellationRefund";
    Layout = "~/Views/_Layouthome.cshtml";
}

<section class="inner-section single-banner" style="background: url(/images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>Cancellation Refund</h2>
    </div>
</section>
<section class="inner-section contact-part">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div>
                    <h3>Cancellation Refund </h3>
                    <h4> DISCLAIMER OF WARRANTIES</h4>
                    <p class="mb-3">
                        Your use of this Platform is at your sole risk. The Platform, Products and offers are offered on an "as is" and "as available" basis. To the extent permitted under applicable laws, WANC expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose and non-infringement with respect to the Products or Platform, or any reliance upon or use of the Platform or Products.
                    </p>
                    <p class="mb-3">
                        Without limiting the generality of the foregoing, WANC makes no warranty that the content and the links to third-party platforms provided on this Platform are accurate, reliable, complete, or timely.
                    </p>
                    <p class="mb-3">
                    </p>
                    <p class="mb-3">
                        No advice or information, whether oral or written, obtained by you from this Platform will create any warranty, not expressly stated herein, as to the results that may be obtained from the use of the Products or that any defects in the Products will be corrected.
                    </p>
                    <h4>LIMITATION OF LIABILITY</h4>
                    <p class="mb-3">
                        The entire liability of WANC and your exclusive remedy, in law, in equity, or otherwise, with respect to the use of Platform, Products, offers and/or for any breach of this Agreement is solely limited to the amount you paid in last one month from any such claim arising, less shipping and handling costs and taxes, for Products purchased via the Platform.                    </p>
                    <p class="mb-3">
                        To the extent permitted under applicable laws, WANC will not be liable for any direct, indirect, incidental, special or consequential damages in connection with this Agreement or the use of Platform, Products and offers in any manner, including liabilities resulting from (1) the use or the inability to use the Platform, Products or offers; (2) the cost of procuring substitute Products; or (3) any lost profits, loss of goodwill, loss, theft or corruption of user information that you may allege.
                    </p>
                    <h4> INDEMNIFICATION
                     </h4>
                    <p class="mb-3">
                        You will release, indemnify, defend and hold harmless WANC and any of it's contractors, agents, employees, officers, directors, shareholders, affiliates and assigns from all liabilities, claims, damages, costs and expenses, including reasonable attorneys' fees and expenses, of third parties relating to or arising out of (1) your violation of any provision of this Agreement including the breach of your warranties, representations and obligations under this Agreement by you; (2) your use of the Platform, Products or offers; (3) infringement of any intellectual property or other proprietary right of any person or entity including WANC by you; or (4) any information or data supplied to WANC by you. When WANC is threatened with suit or sued by a third party, WANC may seek written assurances from you concerning your promise to indemnify WANC; your failure to provide such assurances may be considered by WANC to be a material breach of this Agreement. WANC will have the right to participate in any defence by you of a third-party claim related to your use of the Platform, Products or offers, with a counsel of WANC’s choice at its expense. WANC will reasonably cooperate in any defence by you of a third-party claim at your request and expense. You will have sole responsibility to defend WANC against any claim, but you must receive WANC prior written consent regarding any related settlement. The terms of this provision will survive any termination or cancellation of this Agreement or your use of the Platform or Products.
                    </p>
                    <h4>PRIVACY</h4>
                    <p class="mb-3">
                        WANC believes strongly in protecting user privacy and providing you with notice of use of your data. Please refer to WANC’s Privacy Policy, incorporated herein by reference.
                    </p>
                    <h4> GENERAL</h4>
                    <h4>Force Majeure</h4>
                    <p class="mb-3">
                        WANC will not be deemed in default hereunder or held responsible for any cessation, interruption or delay in the performance of it's obligations hereunder due to earthquake, flood, fire, storm, natural disaster, act of God, war, terrorism, pandemic, lockdown conditions, armed conflict, labor strike, lockout, or boycott.                    </p>
                    <h4>Cessation of Operation</h4>
                    <p class="mb-3">
                        WANC may at any time, in it's sole discretion and without advance notice, stop the operation of the Platform and/or distribution of the Products and/or the offers provided on the Platform.                    </p>
                    <h4>Entire Agreement</h4>
                    <p class="mb-3">
                        This Agreement including the policies and guidelines included herein by reference comprise the entire agreement between you and WANC and supersedes any prior agreements pertaining to the subject matter contained herein.
                    </p>
                    <h4>Effect of Waiver</h4>
                    <p class="mb-3">
                       The failure of WANC to exercise or enforce any right or provision of this Agreement will not constitute a waiver of such right or provision. If any provision of this Agreement is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavour to give effect to the parties' intentions as reflected in the provision, and the other provisions of this Agreement remain in full force and effect.
                    </p>
                    <h4>Governing Law and Jurisdiction</h4>
                    <p class="mb-3">
                        This Agreement will be governed by the laws of India and shall be subject to the exclusive jurisdiction of courts in VAISHALI, BIHAR.
                  </p>
                    <h4>Dispute Resolution</h4>
                    <p class="mb-3">
                        If any dispute arises between you and WANC during your use of the Platform or thereafter, the dispute shall be referred to a sole arbitrator, who shall be appointed by an independent and neutral third party arbitral institution identified by WANC. The place of arbitration shall be VAISHALI, BIHAR. The arbitration proceedings shall be in the English language and shall be governed by Arbitration & Conciliation Act, 1996.
                    </p>
                    <p class="mb-3">
                        This arbitration agreement will survive the termination of this Agreement with you.
                    </p>
                    <h4>Waiver of Class Action Rights</h4>
                    <p class="mb-3">
                       By entering into this Agreement, you hereby irrevocably waive any right you may have to join claims with those of other in the form of a class action or similar procedural device. Any claims arising out of, relating to, or connection with this agreement must be asserted individually.
                       Vaishali  Bihar - 844125
                   </p>
                    <h4>Termination</h4>
                    <p class="mb-3">
                        WANC reserves the right to terminate your access to the Platform without advance notice if it reasonably believes, in it's sole discretion, that you have breached any of the terms and conditions of this Agreement. Following termination, you will not be permitted to use the Platform and WANC may, in it's sole discretion and without advance notice to you, cancel any outstanding orders for Products. If your access to the Platform is terminated, WANC reserves the right to exercise whatever means it deems necessary to prevent unauthorized access of the Platform. This Agreement will survive indefinitely unless and until WANC chooses, in it's sole discretion and without advance notice to you, to terminate it.
                       You can top up your Cash Account using the different modes of payment i.e. net banking, credit cards, debit cards, wallets etc.
                       WANC reserves the right to ask for certain information for the purpose of KYC (Know Your Customer) verification. You are responsible for supplying and ensuring the accuracy of any such information that may be solicited from you.</p>
                </div>
                <h4>Use of Platform outside Operating Locations</h4>
                <p class="mb-3">
                       WANC makes no representation that the Platform or Products or offers are appropriate or available for use in locations other than the Operating Locations.
                 </p>
                <h4>Assignment</h4>
                <p class="mb-3">
                    You may not assign your rights and obligations under this Agreement to anyone. WANC may in accordance with applicable law assign it's rights and obligations under this Agreement in it's sole discretion and without advance notice to you.                </p>
                
                <h4>Severability</h4>
                <p class="mb-3">
                    In the event that any provision of this Agreement is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from the Agreement, such determination shall not affect the validity and enforceability of any other remaining provisions.                </p>
                <h4>Conflict</h4>
                <p class="mb-3">
                    This Agreement includes, and incorporates by reference, the Privacy Policy and any other rules or policies available on the Platform including all other additional or modified terms and conditions and policies in relation to the Platform or any current or future services that may be offered by WANC. In the event of any conflict between the terms of this Agreement and any provision of the polices and guidelines available on the Platform, the terms of this Agreement shall prevail in relation to the subject matter hereof and the terms of such polices and guidelines shall prevail in relation to the subject matter thereof. You are strongly advised to carefully read all such policies and guidelines, as available on the Platform.
                </p>
                <p class="mb-3">
                    Redemption of WANC Cash+ is valid on orders having a minimum value of INR 500. However, a maximum of 100 WANC Cash+ can be redeemed at a time.
                </p>
                <p class="mb-3">
                    WANC Cash+ can only be used till it's date of validity. Post it's validity date, it shall stand expired.
                </p>
                <h4>Disclaimer:</h4>
                <p>WANC Cash+ are issued at the sole discretion of WANC under it's loyalty program;</p><br />
                <p>The loyalty program may be withdrawn or altered at WANC’s sole discretion;</p><br />
                <p>WANC has the right to change the terms of the loyalty program at any time; and</p><br />
                <p>WANC Cash+ cannot be redeemed for cash or transferred to the User’s bank account.</p><br />
            </div>
        </div>
    </div>
</section>