@{
    ViewBag.Title = "ShippingPolicy";
    Layout = "~/Views/_Layouthome.cshtml";
}

<section class="inner-section single-banner" style="background: url(/images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>Shipping  Policy </h2>
    </div>
</section>

<section class="inner-section contact-part">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div>
                    <h3>Shipping  Policy </h3>
                    <p class="mb-3">
                        WANC has proprietary rights and trade secrets in the Products. You shall not copy, reproduce, resell or redistribute any Product manufactured and/or distributed by WANC.
                    </p>
                    <h4>DELIVERY, HANDLING CHARGES AND TAXES</h4>
                    <p class="mb-3">

                        WANC may charge such delivery and handling charges, as maybe determined by WANC from time to time along with the applicable taxes.
                    </p>
                    <p class="mb-3">
                    </p>
                    <p class="mb-3">
                        Although WANC strives to deliver the orders on time, there may be situations wherein the actual time taken for delivery of a Product shall vary from the delivery time mentioned at the time of ordering such Product. WANC shall keep you updated about any delays in delivering of Products.                    </p>
                    <p class="mb-3">
                        Due to the ongoing Covid-19 pandemic, WANC has introduced the feature of contact-less delivery to safeguard the health of it's customers and delivery partners. This feature is available at an extra charge of INR 10 per order.
                    </p>
                    <h4>PLATFORM</h4>
                    <p class="mb-3">
                        Intellectual Property and Third-Party Links
                        WANC is the owner of the brand WANC and the Platform and has the exclusive right, title and ownership of any and all intellectual property rights arising out of it's brand and the Platform.
                    </p>
                    <p class="mb-3">
                        WANC may occasionally post links to third party websites or other services on the Platform. You agree that WANC is not responsible or liable for any loss or damage caused as a result of your use of any third-party services linked to from the Platform.
                    </p>
                    <p class="mb-3">

                        In addition to making Products available, this Platform also offers information, both directly and through third-party links, about nutritional and dietary supplements. Such information available on the Platform is for general use and you may rely on it solely at your own risk. We will not be liable for any direct, indirect, consequential or other damages arising out of or connected with the use of this information. Further, for any third-party content displayed or accessed through the Platform the sole responsibility for such content is of the person/entity who makes it available.
                    </p>
                    <h4> User Account</h4>
                    <p class="mb-3">
                        To access and use the Platform, you may register with us by providing the required information. You are responsible for ensuring the accuracy of this information.
                    </p>
                    <p class="mb-3">
                        You are responsible for keeping your password secure. We cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password. The billing information you provide us, including payment details, billing address and other payment information, is subject to the same accuracy requirements as the rest of your identifying information. Providing false or inaccurate information or using the Platform to further fraud or any unlawful activity is grounds for immediate termination of this Agreement.
                    </p>
                    <p class="mb-3">
                        By posting, storing, or transmitting any content on the Platform, you hereby grant WANC a perpetual, worldwide, non-exclusive, royalty-free, assignable, right and license to use, copy, display, perform, create derivative works from, distribute, have distributed, transmit and assign such content in any form, in all media now known or hereinafter created, anywhere in the world. WANC does not have the ability to control the nature of the user-generated content offered through the Platform. You are solely responsible for your interactions with other users of the Platform and any content you post. WANC is not liable for any damage or harm resulting from any posts by or interactions between users. WANC reserves the right, but has no obligation, to monitor interactions between and among users of the Platform and to remove any content WANC deems objectionable, at it's sole discretion.
                    </p>
                    <p class="mb-3">
                        Reverse Engineering & Security
                        You agree not to undertake any of the following actions:
                    </p>
                    <p class="mb-3">
                        Reverse engineer, or attempt to reverse engineer or disassemble any code or software from or on the Platform;
                        Violate the security of the Platform through any unauthorized access, circumvention of encryption or other security tools, data mining or interference to any host, user or network; and
                        Use the Platform for illegal spam activities, including gathering email addresses and personal information from others or sending any mass commercial emails.
                  </p>
                    <h4>Customer Solicitation</h4>
                    <p class="mb-3">
                           Unless you notify us in writing, of your intention to opt out from further direct and indirect marketing communications and solicitations, you are agreeing to continue to receive emails, calls and messages through different mediums for soliciting Products.</p>
                    <h4>Opt Out Procedure</h4>
                    <p class="mb-3">
                        You may choose to opt out from receiving future marketing and solicitation communications by following the steps below.
                    </p>
                    <p class="mb-3">
                        You may also choose to opt out, via sending your email address to: support@wanc.in.
                        You may send a written remove request to WANC. Narayan pur buzurg. post - birnalakhan sen. Near Ojhaeini pond Hanuman Temple. Vaishali  Bihar - 844125
                   </p>
                    <h4> WANC CASH AND CASH+ WANC offers the use of – WANC Cash and WANC Cash+ to it's Users.</h4>
                    <h4>WANC Cash</h4>
                    <p class="mb-3">
                       You may open a WANC Cash account (“Cash Account”) upon successful registration and creation of a user account on the Platform.
                       The currency used in the Cash Account shall be Indian Rupees (INR).
                       You can top up your Cash Account using the different modes of payment i.e. net banking, credit cards, debit cards, wallets etc.
                       WANC reserves the right to ask for certain information for the purpose of KYC (Know Your Customer) verification. You are responsible for supplying and ensuring the accuracy of any such information that may be solicited from you.</p>
                </div>
                <p class="mb-3">
                     You hereby authorize us to hold, receive and disburse funds from your Cash Account in accordance with the payment instructions received from you.
                     The amount loaded in your Cash Account can only be used for the purchase of Products on the Platform.
                     You are not entitled to any interest for the amounts held in your Cash Account.
                 </p>
                <h4>WANC Cash+</h4>
                <p class="mb-3">
                    WANC Cash+ is a loyalty program introduced by WANC wherein the Users can earn WANC Cash+ by participating in different promotional events.
                </p>
                <p class="mb-3">
                   Each WANC Cash+ is equivalent to INR 1.
                </p>
                <p class="mb-3">
                     WANC Cash+ can only be redeemed during checkout for purchasing Products from the Platform. However, it cannot be used if you have opted for “Easy Checkout”.
                </p>
                <p class="mb-3">
                     Redemption of WANC Cash+ is valid on orders having a minimum value of INR 500. However, a maximum of 100 WANC Cash+ can be redeemed at a time.
                </p>
                <p class="mb-3">
                    WANC Cash+ can only be used till it's date of validity. Post it's validity date, it shall stand expired.
                </p>
                <h4>Disclaimer:</h4>
                <p>WANC Cash+ are issued at the sole discretion of WANC under it's loyalty program;</p><br />
                <p>The loyalty program may be withdrawn or altered at WANC’s sole discretion;</p><br />
                <p>WANC has the right to change the terms of the loyalty program at any time; and</p><br />
                <p>WANC Cash+ cannot be redeemed for cash or transferred to the User’s bank account.</p><br />
            </div>
        </div>
    </div>
</section>
