@{
    ViewBag.Title = "TermandCondition";
    Layout = "~/Views/_Layouthome.cshtml";
}

@*<section class="inner-section single-banner" style="background: url(/images/single-banner.jpg) no-repeat center;">*@
<section>
    <div class="container">
        <h2>Term & Condition </h2>
    </div>
</section>

<section class="inner-section contact-part">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div>
                    <h3>Term And Conditions</h3>
                    <p class="mb-3">
                           We grant you a limited, non-exclusive, non-transferable, and revocable license to use our Platform, subject to the terms of this Agreement. You agree that you will not violate any laws in connection with your use of the Platform or interfere with or try to disrupt the Platform.
                    </p>
                    <p class="mb-3">

                          You understand and accept that all information, data, text, software, music, sound, photographs, graphics, audio, video, message or other material appearing on the Platform including the brand name - WANC (collectively, “Content”) are owned by WANC or it's licensors. You are expressly prohibited from using any Content without the express written consent of WANC or it's licensors. Except as otherwise stated in this Agreement, none of the Content may be reproduced, distributed, republished, downloaded, displayed, posted, transmitted, or copied in any form or by any means, without the prior written permission of WANC, and/or the appropriate licensor. Permission is granted to display, copy, distribute, and download the materials on the Platform solely for your personal, non-commercial use provided that you make no modifications to the materials and that all copyright and other proprietary notices contained in the materials are retained. You may not, without WANC’s express written permission, 'mirror' any material contained on the Platform or any other server. Any permission granted under this Agreement terminates automatically without further notice if you breach any of the above terms. Upon such termination, you agree to immediately destroy any downloaded and/or printed Content.
                    </p>
                    <p class="mb-3">
                           You shall not host, display, upload, modify, publish, transmit, update or share any information on the Platform that —
                               belongs to another person and to which you do not have any right to;
                               is grossly harmful, harassing, blasphemous defamatory, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;
                               harm minors in any way;
                               infringes any patent, trademark, copyright or other proprietary rights;
                               violates any law for the time being in force;
                               deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;
                               impersonates another person;
                               contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of the Platform;
                               threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.
                               You agree not to collect information of other users from the Platform or download or copy any information by means of unsolicited access so as to communicate directly with them or for any reason whatsoever.
                    </p>
                    <h4>ANY USE OF THE PLATFORM NOT SPECIFICALLY PERMITTED UNDER THIS AGREEMENT IS STRICTLY PROHIBITED.</h4><br />
                    <h4>PRODUCTS, ORDERING AND PRICING</h4>
                    <p class="mb-3">

                           WANC is currently delivering orders of the products listed on the Platform (“Products”) and providing various offers mentioned on the Platform (“Offers”) only at select locations in the cities of  (“Operating Locations”). We will not be able to service orders at any place other than the Operating Locations. Any modification in the Operating Locations of WANC shall be mentioned on the Platform.
                    </p>
                    <p class="mb-3">

                           All Products are subject to availability and we reserve the right to impose quantity limits on any order, to reject all or part of an order, and to discontinue Products without notice, even if you have already placed an order.
                    </p>
                    <p class="mb-3">

                          We take care to accurately display the description, colors and images of our Products but, we cannot guarantee nor take responsibility for variations in pictorial representations for the Products and color variation due to technical reasons. Prices and descriptions of the Products are subject to change at any time without notice, at our sole discretion.
                    </p>
                    <p class="mb-3">
                           We shall not be liable to you or to any third-party for any modification in price, suspension or discontinuance of the Products.
                    </p>
                    <p class="mb-3">

                           The Platform allows you to place order for Products in standard quantities and the price of each Product displayed on the Platform is also calculated on the basis of standard quantity of the Product. However, due to the nature of the Product there may be a variance between the quantity ordered and the quantity supplied.
                    </p>
                    <p class="mb-3">

                           We will only charge you for the quantity of the Product that has been supplied to you. In case the quantity of the Product supplied to you is less than the quantity of Product ordered, any excess amounts paid by you shall be refunded to you. The mode of refund shall be as determined by WANC from time to time, such as, credit to WANC wallet, WANC Cash +, or by crediting any other mobile wallet that you may use.
                    </p>
                    <p class="mb-3">

                          In case the quantity of the Product supplied to you exceeds the quantity ordered by you, any additional amount due from you will be adjusted against your next order. </p>
                    <p class="mb-3">

                         The Products sold on the Platform are perishable goods. Hence, we recommend that you read the instructions written on the packaging of each Product carefully, before using such Product.
                    </p>
                    <p class="mb-3">

                        Any offers available on the Platform shall be, in addition to this Agreement, subject to the terms and conditions as may be listed on the Platform in relation to such offers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
