<!DOCTYPE html>
<html>
<head>
    <title>WANC Saller</title>
    <link rel="icon" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Admin_Design/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/ico" href="/Home_Design/images/ellegorlogo.png" />
    <link href="/Admin_Design/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/Admin_Design/css/style-responsive.css" rel="stylesheet" />
    <link href="/Admin_Design/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <section id="container">
        <header class="header fixed-top clearfix">
            <div class="brand">
                <a href="#" class="logo"><label style="font-size:15px;">@Session["Sallername"]</label></a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <div class="top-nav clearfix" style="margin-top: -45px;">
                <br />
                <ul class="nav pull-right top-menu">
                    <a href="/Saller/Logout" type="button" class="btn btn-danger btn-sm lloogut" style="margin-top: 24px;">LogOut</></a>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a class="active" href="/Saller/dashboard">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-cog"></i>
                                <span>Settings</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Saller/ChangePassword">Change Password</a></li>
                                <li><a href="/Saller/Logout">LogOut</a></li>
                                <li><a href="/Saller/minOrderofsellers1">Set Min Order</a></li>
                            </ul>
                        </li>


                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-camera"></i>
                                <span>Manage Brand</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Saller/AddNewBrand">Add New Brand</a></li>
                                <li><a href="/Saller/ViewBrand">View All Brand</a></li>
                            </ul>
                        </li>

                        @*<li class="sub-menu">
                                <a href="#">
                                    <i class="fa fa-tasks"></i>
                                    <span>Manage Category</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/Saller/AddNewCategory">Add New category</a></li>
                                    <li><a href="/Saller/ViewAllCategory">View All Category</a></li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="javascript:;">
                                    <i class="fa fa-tasks"></i>
                                    <span>Manage SubCategory</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/Saller/AddSubCategory">Add New Subcategory</a></li>
                                    <li><a href="/Saller/ViewSubCategory">View All SubCategory</a></li>
                                </ul>
                            </li>*@
                        <li class="sub-menu">
                            <a href="#">
                                <i class="fa fa-tasks"></i>
                                <span>Manage Product</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Saller/AddnewProduct">Add New Product</a></li>
                                <li><a href="/Saller/ViewAllProduct">View All Product</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-list"></i>
                                <span>Manage Order</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Saller/ViewAllOrder">View All Order</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <section id="main-content">
            @RenderBody()
            <div class="footer">
                <div class="wthree-copyright">
                    <p style="text-align: center; font-size: 12px;">© 2022 WANC. All rights reserved | Design by <a href="http://www.incredibleindiatechxpert.com/" target="_blank">Wanc</a></p>
                </div>
            </div>
        </section>
    </section>
    <script src="/Admin_Design/js/bootstrap.min.js"></script>
    <script src="/Admin_Design/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Admin_Design/js/scripts.js"></script>
    <script src="/Admin_Design/js/jquery.nicescroll.js"></script>
    <script src="/Admin_Design/js/jquery.scrollTo.js"></script>
</body>
</html>
